.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.heading {
    text-align: center;
    color: #333;
}

h2 {
    margin-top: 20px;
    color: #333;
}

ul, ol {
    margin-bottom: 20px;
}

ul {
    list-style-type: disc;
}

ol {
    list-style-type: decimal;
}

.teamContainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.teamMmeber {
    text-align: center;
    margin: 10px;
}