

.container {
  display: flex;
  gap: 0px;
}
.button {
  display: inline-block;
  width: 400px;
  height: 75px; 
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  background-color: #FFD0D0;
  color: #120101;
  border: 2px  #FFD0D0;
  border-radius: 50px;
  cursor: pointer;
  margin-top: 20px;
}

.button:hover{
  display: inline-block;
  width: 400px;
  height: 75px;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  background-color: #FF9EAA; 
  color: #120101;
  border: 2px groove #FF9EAA; 
  border-radius: 50px;
  cursor: pointer;
  margin-top: 20px;

}

.textContainer {
  flex: 1;
  display: flex;
  flex-direction: column;

}

.title{
  font-size: 96px;
}



@media (max-width: 1024px) {
  .container {
    flex-direction: column;
    text-align: center;
  }

  .buttons{
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 64px;
  }

  .brands{
    width: 100%;
  }
}
/* styles/Home.module.css */

.container {
  display: flex;
  flex-direction: column;
  
}

.leftTopContainer {
  display: flex;
  align-items: center;
  background-color: lightblue;
}

.leftTopContainer:hover{
  display: flex;
  align-items: center;  
  background-color: #20B2AA;
  cursor:pointer;
  transition: transform 0.4s ease-in-out;
  scale:1.02;
 
}

.rightTopContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: lightgreen;

}
.rightTopContainer:hover{
  display: flex;
  align-items: center;
  background-color: #9ACD32;  
  cursor:pointer;
  transition: transform 0.4s ease-in-out;
  scale:1.02;
 
}

.rightBottomContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #FF9EAA;
  
}

.leftBottomContainer {
  display: flex;
  align-items: center;
  background-color: #64CCC5;

  
}

.leftBottomContainer:hover{
  display: flex;
  align-items: center;
  background-color:aqua;  
  cursor:pointer;
  transition: transform 0.4s ease-in-out;
  scale:1.02;
}

.rightBottomContainer:hover{
  display: flex;
  align-items: center;
  background-color:#ff5757;  
  cursor:pointer;
  transition: transform 0.4s ease-in-out;
  scale:1.02;
}

.rightTopContainer img,
.rightBottomContainer img {
  margin-left: 20px; 
}
.rightTopContainer img{
  max-width: 50%; 
  height: 300px; 
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 40px;
  margin-right: 40px;
  border-radius:30px;
}
.leftBottomContainer img{
  max-width: 400px;
  height:300px; 
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 40px;
  margin-right: 40px;
  border-radius:30px;
}
.rightBottomContainer img{
  max-width: 420px; 
  height: 300px; 
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 40px;
  margin-right: 40px;
  border-radius:30px;
}
.leftTopContainer img{
  max-width: 350px;
  height: 300px;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 40px;
  margin-right: 40px;
  border-radius:30px;
}
.rightTopContainer > div {
  margin-left: 180px; 
}
.rightBottomContainer > div {
  margin-left: 180px;
}









